<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ToDo!</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" [routerLink]="['/home']"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
      <ion-button  (click)="save()"><ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-button>
  </ion-buttons>   
</ion-toolbar>
</ion-header>
<ion-content>
<ion-content>
  <ion-list>
    <ion-item >
      <ion-label position="floating">Seleccionar Fecha:</ion-label>
      <ion-datetime display-format="D MMM YYYY" max="2050-12-31" [(ngModel)]="item.date"></ion-datetime>      
    </ion-item>
    <ion-item >
      <ion-label position="floating">Ingresar Tarea:</ion-label>
      <ion-input [(ngModel)]="item.task"></ion-input>
    </ion-item>
  </ion-list>
  <ion-segment [(ngModel)]="item.icon">
    <ion-segment-button *ngFor="let button of buttons" [value]="button">
      <ion-icon [name]="button"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-content>
</ion-content>